/* general display */
body {
    margin: 0;
    background-color: silver;
    font-family: "Smythe", system-ui;
    font-weight: 400;
} 

.container {
    max-width: 600px;
    margin: 0px auto;
    padding-bottom: 300px;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

h1{
    font-size: 2.5rem;
    margin-bottom: 0px;
}

#title-desc {
    margin-top: 0px;
    font-size: 1.5rem;
}

.title-container {
    padding: 30px 50px;
    margin: 0;
    color: white;
}

header{
    background-image: url("/images/logo.jpg");
    background-size: 800px 200px;
}

/* menu list display */

.menu-item {
    display: flex;
    align-items: center;
    max-width: 500px;
    gap: 20px;
    margin: 0px auto;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    font-size: 1rem;
}

.dish-emoji {
    display: block;
    font-size: 60px;    
    width: 80px;           
    text-align: center;  
    margin-left: 0px;  
}

.dish-info {
    padding: 20px 0px 40px 0px;
}

.add-dish {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    justify-self: end;
    border : 1px solid grey;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 15px;
    background-color: white;
}

.dish-name{
    margin-bottom: 5px;
}

.dish-ingredients{
    margin-bottom: 15px;
    color: grey;
    font-style: italic;
}

/* styles */

.bold {
    font-weight: bold;
}